/*-- scss:defaults --*/

@import "theme-colors";

$old-quarto-body-bg: #FEFBF2;
$body-bg: #FEFBF2;

$quarto-body-color: $navy-blue;
$quarto-text-muted: $warm-gray;

$bs-body-color: $navy-blue;
$bs-dark: $navy-blue;
$bs-dark-warm: $warm-gray;

$navbar-fg: $warm-beige;
$navbar-bg: $navy-blue;
$sidebar-bg: $palest-beige;
$sidebar-fg: $navy-blue;

// Re-export the colors as CSS variables
:root {
  --stan-bg: #{$palest-beige};
  --stan-highlight: #{$warm-beige};
  --stan-secondary: #{$aquatic-blue};
  --stan-dark: #{$navy-blue};
}

/* Custom Styles */

/* Level 2 Headings */
h2 {
  background-color: $palest-beige;
  border-radius: 5px;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid $navy-blue;   /* Adds top border to the table */
  border-bottom: 1px solid $navy-blue; /* Adds bottom border to the table */
}

th, td {
  border: none;        /* Removes borders from table cells */
  padding: 0.5em;      /* Adjusts padding as needed */
}

thead th {
  background-color: $palest-beige;
  color: $navy-blue;
}

tbody td:first-child {
    background-color: $palest-beige;
    color: $navy-blue;
}


